@media screen and (min-width: 34.375em) {
  body {
    width: 100%;
    *zoom: 1;
  }
  body:before,
  body:after {
    content: "";
    display: table;
  }
  body:after {
    clear: both;
  }
  @import '../less_file/variabless.less';
  body {
    font-size: 1em;
  }
  /*--Header--*/
  .top-bar {
    text-align: center;
  }
  #header {
    padding: 3em 0.5em 1em 0.5em;
    display: block;
    width: 102.08333333333333%;
    margin: 0 -1.0416666666666665%;
    *zoom: 1;
  }
  #header:before,
  #header:after {
    content: "";
    display: table;
  }
  #header:after {
    clear: both;
  }
  #header .site-title {
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.0416666666666665%;
  }
  #header .site-title a {
    text-align: left;
  }
  #header .header-menu {
    display: inline;
    float: left;
    width: 64.58333333333334%;
    margin: 0 1.0416666666666665%;
    margin-top: 1em;
  }
  /*--Featured Post--*/
  .featured-post {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
    padding: 0 0.5em;
    display: block;
    width: 102.08333333333333%;
    margin: 0 -1.0416666666666665%;
    *zoom: 1;
  }
  .featured-post:before,
  .featured-post:after {
    content: "";
    display: table;
  }
  .featured-post:after {
    clear: both;
  }
  .featured-post .box {
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.0416666666666665%;
  }
  .featured-post .post .post-title {
    font-size: 1.3em;
  }
  /*--Content--*/
  .content .post-exceprt {
    display: block !important;
  }
  /*--Category Content--*/
  .category-content {
    width: 100% !important;
    margin: 0 !important;
  }
  .category-content .cat-1,
  .category-content .cat-2 {
    display: inline;
    float: left;
    width: 47.91666666666667%;
    margin: 0 1.0416666666666665%;
  }
  /*--Sidebar--*/
  .sidebar .recent-post {
    display: block;
    width: 102.08333333333333%;
    margin: 0 -1.0416666666666665%;
    *zoom: 1;
  }
  .sidebar .recent-post:before,
  .sidebar .recent-post:after {
    content: "";
    display: table;
  }
  .sidebar .recent-post:after {
    clear: both;
  }
  .sidebar .recent-post li {
    display: inline;
    float: left;
    width: 47.91666666666667%;
    margin: 0 1.0416666666666665%;
    clear: none !important;
  }
  /*--Footer--*/
  #footer .col-1,
  #footer .col-2 {
    display: inline;
    float: left;
    width: 47.91666666666667%;
    margin: 0 1.0416666666666665%;
  }
  #footer ul,
  #footer ol {
    padding: 0 !important;
  }
  #footer .col-3 {
    display: block;
    width: 102.08333333333333%;
    margin: 0 -1.0416666666666665%;
    *zoom: 1;
    clear: both;
  }
  #footer .col-3:before,
  #footer .col-3:after {
    content: "";
    display: table;
  }
  #footer .col-3:after {
    clear: both;
  }
  #footer .col-3 li {
    display: inline !important;
    float: left !important;
    width: 14.583333333333334% !important;
    margin: 0 1.0416666666666665% !important;
  }
}
