@charset "utf-8";
/* CSS Document */

/* Theme Color CSS */

#mj-topbar .mj-call, #mj-topbar .mj-grid24 li a, #mj-logo a, #mj-navigation li a:hover, #mj-navigation li.active a, .moduletable h3, .page-header h2,
#mj-footer li a:hover, #mj-footer li.active a, #mj-slidetitle,
.mj-mainnav.navbar .nav > li ul.nav-child li a:hover, .mj-mainnav.navbar .nav > li ul.nav-child li a.mj-more-active:active,
#mj-navigation li li.active a, #mj-navigation li.active li:hover a, #mj-navigation li.active li:hover li:hover a, #mj-navigation li.active li.active li.active a, #mj-navigation li.active li.active li:hover a,
.category .list-title a, .nspArt h4.nspHeader, .nspArt h4.nspHeader a, h1, h2, h3, h4, h5, h6 {
	color: #E52525;
	
}


.button, input[type="submit"], input[type="reset"], input[type="button"], .readmore, button , #mj-content .btn , .profile a, .mj-colorbox,
ul.tabbernav li a:hover, ul.tabbernav li.tabberactive a {
    background-color: #E52525;
	border: 1px solid #E52525;
}

table.cart-summary tr th, .mj-event-time .mj-month, .mj-block-number .mj-bottom, .mj-section-title, .mj-table thead tr, .mj-table tfoot tr, .category thead tr, .category thead tr, #mj-featured2 .nspNext:hover, #mj-featured2 .nspPrev:hover {
	background-color:#E52525 !important;
}

#mj-header {
    border-top: 2px solid #BD1F1F;
}

#mj-slideshow, #mj-slidetitle {
	border-bottom: 2px solid #E52525;
}

.mj-slideshow-arrow:hover {
	background-color: #E52525;
}

ol > li:before, .pagination li {
    border-bottom: 5px solid #E52525;
}


.search .search-results .result-created {
    border-bottom: 1px dashed #E52525;
}

.tabberlive .tabbertab {
	border-top: 1px solid #E52525 !important;
}

ul.nav-child {
    border-bottom: 2px solid #E52525;
}
.mj-grid32 h3 a {
    color: #E52525;
}