@charset "utf-8";
/* CSS Document */

/* For Mobile Layout*/

@media screen and (max-width: 500px) {

	#mj-logo {
		width: 100%;
		text-align:center;
	}
	
	#mj-righttop {
		width: 99%;
	}
	
	.mj-grid8, .mj-grid16, .mj-grid24, .mj-grid32, .mj-grid40, .mj-grid48,
	.mj-grid56, .mj-grid64, .mj-grid72, .mj-grid80, .mj-grid88, .mj-grid96 {
		float: left;
		margin-left: 1px;
		margin-right: 0px;
		width: 99%;
		margin-bottom: 10px;
	}
	
	.custom.mj-grid8, .custom.mj-grid16, .custom.mj-grid24, .custom.mj-grid32, .custom.mj-grid40, .custom.mj-grid48, 
	.custom.mj-grid56, .custom.mj-grid64, .custom.mj-grid72, .custom.mj-grid80, .custom.mj-grid88, .custom.mj-grid96 {
		border: none;
		margin-bottom: 0px;
	}
	
	#mj-contentarea {
		right: 0 !important;
	}
	
	#mj-right {
		right: 0 !important;
	}
	
	/*start your css from here*/
	
	#mj-topbar, #mj-header, #mj-navigation, #mj-slideshow, #mj-featured1, #mj-featured2,
	#mj-featured3, #mj-featured4, #mj-maincontent, #mj-footer, #mj-copyright {
		padding-left: 1%;
		padding-right: 1%;
		width: 98%;
	}

	.mj-social {
		margin: 15px auto 0;
		text-align: center;
		width: 61% !important;
	}
	
	/*#mj-navigation .search {
		float: none;
		margin: 0 auto;
		width: 60% !important;
	}*/
	
	#mj-navigation .search {
        float: right;
        margin: 0 auto;
        width: 100% !important;
        text-align: center;
	}
	
	.item-page .mj-grid32.mj-lspace {
		text-align: center;
	}
	
	#mj-right .custom {
		text-align: center;
	}
	
	#mj-topbar .mj-grid16, #mj-topbar .mj-grid24 {
		width: auto !important;
	}
	
	#mj-righttop .mj-grid56 {
		float: none;
	}
	
	#mj-left ul.menu li ul, #mj-left ul.menu li li ul, #mj-left ul.menu li li li ul, #mj-right ul.menu li ul,
	#mj-right ul.menu li li ul, #mj-right ul.menu li li li ul {
		width: 100%;
		position: relative !important;
		top: 0px;
		background-color: 
		transparent;
		border: 1px solid 
		#BFBFBF;
		left: 0px!important;
	}
	
	.mj-boxcontent {
		float: left;
		width: 91%;
	}	
	
	.mj-boxcontent pre {
		float: left;
		width: 34%;
	}
	
	em, code {
		float: left;
	}
	
	.contact label {
		width: 100%;
	}	
	.contact input[type="text"], .contact input[type="email"] {
		width: 95%;
	}
	
	.contact textarea {
		width: 95%;
	}
	
	.cols-2 .column-1, .cols-2 .column-2 {
		width: 98%;
		padding-left: 1%;
	}
	
	.blog img {
		max-width: 96% !important;
		padding: 4px !important;
	}
	
	#mj-left #form-login-username input, #mj-left #form-login-password input {
		width:96%;
	}
	
	.unstyled {
		float:none !important;
	}

	#mj-pos-mainnav{
        position: absolute !important;
        right: -10px !important;
        width: 229px !important;
}

	ul.tabbernav li a {
		display: block;
	}
	
	ul.tabbernav li:first-child a {
		margin-left: 0 !important;
	}
	
	#mj-copyright .mj-grid64 {
		width: 85%;
	}
	
	#mj-copyright .mj-grid8 {
		width: 10%;
	}
	
	#mj-featured2 .nspArt {
    float: left;
    width: 100% !important;
	text-align:center;
}
	
.cols-3 .column-1, .blog .cols-3 .column-2, .cols-3 .column-3
{
	width:100%;
}
.mj-whitebox, .mj-darkbox, .mj-colorbox
{
	padding: 10px 0px !important;
}

#mj-slideshow .mj-slideshow-text .text h3 {
background: url(../images/module_bg.png) repeat-x scroll 0 bottom transparent;
color: #E52525 !important;
padding: 0px !important;
}
#mj-featured2 .nspArt h4.nspHeader
{
	text-align:center;
}

#mj-navigation .moduletable
{
	float:left;
	width:50% !important;
}

.imagpart 
{
	text-align:center;
}

#mj-featured2 .mj-grid24 h4
{
	text-align:center;
}

#mj-featured3 .nspArt img.nspImage
{
	width:65% !important;
	margin-top:10px;
}


.latestnews li {
padding-bottom: 4px;
padding-left: 5px;
}

.reset .form-actions {
float: right;
width: 57.5% !important;
}

.remind .form-actions
{
	float: right;
    width: 57.5% !important;
}

.registration .form-actions
{
	float: right;
    width: 57.5% !important;
}
	
	
}

@media only screen  and (max-width:250px) {

	#mj-topbar .mj-grid16 {
		width: 97%!important;
		float: left !important;
		text-align: center !important;
	}
	
	#mj-topbar .mj-grid24 {
		width: 80%!important;
		float: left !important;
		text-align: center !important;
		padding-bottom: 10px;
	}
	
	.tabberlive .tabbertab
	{
	padding: 0 !important;
    }
	
}

@media only screen  and (max-width:320px)
 {
	 #mj-navigation .moduletable
{
	float:left;
	width:100% !important;
}

#mj-pos-mainnav {
		position: absolute !important;
		right: 3px !important;
		width: 280px !important;
	}
	
.mj-social {
		margin: 15px auto 0;
		text-align: center;
		width: 93% !important;
	}
	
.reset .form-actions {
float: right;
width: 100% !important;
}

.remind .form-actions
{
	float: right;
    width: 100% !important;
}
		
.registration .form-actions
{
	float: right;
     width: 100% !important;
}

	 
	
}

