@charset "utf-8";
/* CSS Document */

/* For tab Layout*/

@media screen and (min-width: 501px) and (max-width: 800px) {
	.mj-grid8 {
		width: 14.666%;
	}
	.mj-grid16 {
		width: 31.333%;
	}
	.mj-grid80 {
		width: 64.666%;
	}
	.mj-grid88 {
		width: 81.333%;
	}
	
#mj-left ul.menu li li, #mj-right ul.menu li li {
font-size: 12px;
background: url(../images/menu_shadow1.png) repeat-x scroll 0 0 
 
transparent !important;
}	
	
/*.unstyled
{
	float:none !important;
}*/

.navbar .mainnav-toggle {
text-align: center;
position: relative;
float: left !important;
}

.navbar .nav-collapse ul.nav {
width: 46% !important;
}

#mj-pos-mainnav {
position: absolute;
right: 0px !important;
width: 700px !important;
top: 38px 
}

#mj-navigation .search {
float: right;
}
#mj-left ul.nav-child , #mj-right ul.nav-child {
position: absolute!important;
}

#mj-slideshow .mj-slideshow-text
{
	width:29% !important;
}

#mj-slideshow .mj-slideshow-image
{
width:68% !important;

}

#mj-slideshow .mj-slideshow-text .text
{
	border:none !important;
}

#mj-navigation li:first-child, #mj-navigation li:first-child a
{
	background-color:#ffffff !important;
}
#mj-navigation li.parent
{
	background-color:#ffffff !important;
}

#mj-left #login-form .userdata .controls 
{
text-align: center;
margin: 0px 0px;
}

#mj-left #login-form .userdata .unstyled a
{
	float:left;
	width:100%;
	padding:4px 0px;
}
.mj-whitebox, .mj-darkbox, .mj-colorbox
{
	padding: 10px 3px !important;
}

	
	/*start your css from here*/
}